body {
margin: 0;
font-family: 'Roboto', sans-serif;
}

body>.daddy{
display: flex;
align-items: flex-start;
}

  .left {
    background-color:rgb(231, 223, 173);
    width: 60%;
    height: 100vh ;
    /* padding-left: 80px; */
    margin: 0;
  }

  .left-padding{
    padding-left: 80px; 
  }

  .right {
    background-color: rgb(238, 233, 201);
    width: 40%;
    height: 100vh ;
    align-self: flex-start;
  }
  .btn{
    background-color: red;
    color: white;
    border: none;
    /* width:  90px; */
    /* height: 40px; */
    font-size: 20px;
    padding-bottom: 5px;
  }
  .prjt{
    color: black;
  }
  .ninet{
    font-size: 30px;
    font-weight: 600px;
  }
  .portfolio-statisctics{
    background-color: rgb(185, 179, 142);
    color: white;
    height: 40vh;
    /* width: 915px; */
    /* padding-left: 40px; */
    /* position: absolute; */
    align-self: flex-end;
  }
  .portfolio-know-more{
    background-color: yellow;
    color: black;
    border: black;
    width:  90px;
    height: 40px;
  }
  .shroom{
    object-position: 50px 100px
  }
